@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-color: #000;
    --secondary-color: #15171a80;
    --tertiary-color: #15171abf;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

.red-gradient {
  background: linear-gradient(348.99deg, #f11a1a -22%, #e60b0b 141.18%);
}

.yellow-gradient {
  background: linear-gradient(348.99deg, #e6aa0b -22%, #e6c20b 141.18%);
}

.green-gradient {
  background: linear-gradient(90deg, #00bb6f 0%, #009458 100%);
}

.green-light-gradient {
  background: linear-gradient(
    315deg,
    rgba(82, 202, 0, 0.25) 0%,
    rgba(190, 249, 121, 0.25) 100%
  );
}

/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #00bb6f 0%, #009458 100%);
  border-radius: 8px;
}
